@{
  Layout = "_Layout";
}

@model University.Models.Student

<h1>Add a new student to database</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select course")
  @Html.DropDownList("LessonId")

  
}