@{
  Layout = "_Layout";
}

<h2>Welcome to our Campus</h2>


<button class="btn btn-dark">@Html.ActionLink("Students", "Index", "Students")</button>
<button class="btn btn-dark">@Html.ActionLink("Courses", "Index", "Lessons")</button>